<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Price Prediction</title>
  </head>
  <body>
    <h1>Car Price Prediction</h1>
    <form action="/predict" method="post">
      {% for i in range(1, 8) %}
      <label for="feature{{ i }}">Feature {{ i }}:</label>
      <input type="text" id="feature{{ i }}" name="feature{{ i }}" required />
      <br />
      {% endfor %}
      <br />
      <input type="submit" value="Predict" />
    </form>
  </body>
</html>
